/* Formatação */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-barra-fixa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 9999;
    padding: 5px 0;
}

/* Estilo para o header */
.header {
    min-height: 100vh; /* Ocupa todo o tamanho da tela */
    display: flex;
    flex-direction: column; /* Organiza verticalmente o conteudo */
    justify-content: flex-start;
    align-items: center;
    color: white; /* Color do texto */
    padding: 20px 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(https://s4.gifyu.com/images/bpFOh.webp);
    background-repeat: no-repeat; /* Aplicamos para que a imagem não se repita */
    background-size: cover; /* Preenche completamente a tela com a imagem */
    background-position: center; /* Centra a imagem */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Espaço em cada lado do container */
}

/* .logo {
    font-size: 30px; /* Tamanho do texto
    font-weight: bold;
    color: #fdb80b;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(117, 116, 116, 0.5);
    font-family: Fantasy; /* Fonte do texto
} */

.logo-img {
    height: 45px;
    width: auto;
    display: block;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 20px; /* Espaços entre os elementos do menú */
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 8px 10px;
}

/* Efeito hover para o menú */
.navbar a:hover {
    background-color: #3f4347; /* Fondo oscuro ao passar o mause */
    border-radius: 5px; /* Bordas arredondadas */
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburguer {
    display: none;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    padding: 20px;
}

.txt h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: uppercase; /* Texto em maiúscula */
    color: white;
}

.buttons a {
    text-decoration: none;
    background-color: #3f4347;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Efeito hover para os buttons */
.buttons a:hover {
    background-color: #545d66;
}


/* Estilo para o  main */
#sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Espaço dentro */
    padding-top: 75px;
    min-height: 100vh;
    background-color: #8b4513b0;
}

.left {
    flex: 1; /* Ocupará o 50% do ancho esquerdo */
    padding-right: 20px;
}

.left img {
    width: 550px; /* Ancho da imagem */
    height: auto;
    border-radius: 10px; /* Bordas arredondadas */
}

.right {
    flex: 1; /* Ocupará o 50% do ancho direito */
    padding-left: 20px;
}

.right h1 {
    font-size: 30px;
    margin-bottom: 25px; /* Espaço entre o titulo e a descrição */
    text-transform: uppercase; /* Texto em maiúscula */
    color: white;
}

.right p {
    font-size: 20px;
    line-height: 1.5;
}

/* Estilo para a section serviços */
#servicos {
    padding: 40px 20px;
    padding-top: 75px;
    background-color: #5c4033;
    text-align: center;
    min-height: 100vh;
}

/* Estilo para a section unidades */
#unidades {
    padding: 40px 20px;
    padding-top: 75px;
    background-color: #721e1e;
    text-align: center;
    min-height: 100vh; /* Ocupa todo o tamanho da tela */
}


/* Estilo para a section planos */
#planos {
    padding: 40px 20px;
    padding-top: 75px;
    background-color: #5c4033;
    text-align: center;
    min-height: 100vh;
}

#servicos h2,
#unidades h2,
#planos h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: normal; /* Remove o negrito */
    color: rgb(247, 227, 227);
    margin-bottom: 40px; /* margem abaixo */
}

#servicos b,
#unidades b,
#planos b {
    font-size: 45px;
    color: rgb(247, 227, 227);
    font-style: normal;
}

.servicos-container,
.unidades-container,
.planos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.servico,
.unidade {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.servico:hover,
.unidade:hover {
    transform: scale(1.03);
}

.servico img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    transition: all 0.5s ease;
    filter: grayscale(100%);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}

.servico img:hover {
    filter: grayscale(0%) brightness(70%);
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.unidade img {
    width: 100%;
    height: 180px;
    object-fit: cover; /* ajustar imagen cental */
    border-radius: 8px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.unidade img:hover {
    filter: grayscale(0%) brightness(70%); /* grayscale mostra a imagem colorida, brightness escurece a imagem */
}

.servico h3,
.unidade h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #333;
}

.servico p,
.unidade p {
    font-size: 15px;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
}

.plano {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 260px;
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: left;
}

.plano img {
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
    transition: all 0.5s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}

.plano h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.plano ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #333;
}

.plano ul li {
    padding: 3px 0;
    display: flex;
    align-items: flex-start;
}

.plano li::before {
    content: "✔"; /* Puedes usar otro ícono como • o ➤ */
    color: #2ecc71; /* Verde suave */
    font-weight: bold;
    margin-right: 5px;
}

.preco-plano {
    font-size: 1.4em;
    color: #5c4033;
    margin-top: auto;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

footer {
    text-align: center;
    padding: 10px 0;
}
/* Responsividade para telas até 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .hamburguer {
        display: block;
        font-size: 28px;
        color: white;
        cursor: pointer;
    }

    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        padding: 10px 0;
        z-index: 10000;
    }

    #menu.show ul {
        display: flex;
        position: absolute;
    }

    .navbar ul li {
        margin: 0;
        padding: 10px 20px;
        text-align: right;
        width: 100%;
    }

    .navbar a {
        font-size: 18px;
    }

    /* Sobre nós */
    #sobre {
        flex-direction: column;
        padding: 20px;
    }

    .left,
    .right {
        padding: 0;
        width: 100%;
    }

    .left img {
        width: 100%;
        height: auto;
        margin-bottom: 20px
    }

    .servico,
    .unidade,
    .plano {
        width: 50%;
        max-width: 350px;
    }

    .txt h1 {
        font-size: 26px;
    }

    .buttons a {
        font-size: 16px;
        padding: 10px 16px;
    }
}